:root {
  font-size: 0.5px !important;
}
body {
  place-items: unset !important;
}

.grid {
  grid-template-columns: repeat(7, 100rem);
  grid-template-rows: repeat(5, 80rem);
}
.bg-left {
  background: url(/src/assets/left-icon.png);
  background-size: 50rem;
}
.bg-right {
  background: url(/src/assets/right-icon.png);
  background-size: 50rem;
}
