:root {
  font-size: 0.5px !important;
}
.title {
  font-size: 34rem;
  color: #1a1a1a;
  margin: 0 30rem;
  height: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.week {
  border-top: 1px solid #bbbbbf;
  border-bottom: 1px solid #bbbbbf;
}
.week div {
  flex: 1;
  align-items: center;
  text-align: center;
  font-size: 26rem;
  height: 70rem;
  line-height: 70rem;
}

.grid {
  margin-top: 50rem;
  row-gap: 20rem;
  grid-template-columns: repeat(7, 100rem);
  grid-template-rows: repeat(5, 80rem);
}
.grid > div {
  text-align: center;
  font-size: 28rem;
}
.placeholder2 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.placeholder4 {
  grid-column: 1 / span 4;
  grid-row: 1;
}
.placeholder6 {
  grid-column: 1 / span 6;
  grid-row: 1;
}

.adult_amount {
  font-size: 20rem;
}
.date {
  width: 750rem;
}
.items:hover > div {
  color: #fff;
}

.left,
.right {
  background: url(/src/assets/left-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40rem;
  height: 40rem;
}
.right {
  background: url(/src/assets/right-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
